html,
body,
p {
    margin: 0;
    padding: 0;
    /* remove unnecessary margins and paddings */
}

body {
    background-color: #DBF9FC;
}

iframe {
    margin: 25px 10px;
    /* margin: top&bottom left&right */
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scene1 {
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 1200px;
    height: 600px;
}

.scene2 {
    margin-top: 25px;
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 500px;
    height: 600px;
    margin-left: 10px;
}

.scene3 {
    /* margin-top: 25px; */
    /* margin-right: 10px; */
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 700px;
    height: 600px;
}

.scene4 {
    /* margin-top: 25px; */
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 1200px;
    height: 400px;
}

.scene5 {
    /* margin-top: 25px; */
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 1150px;
    height: 600px;
}

.scene6 {
    /* margin-top: 25px; */
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 850px;
    height: 500px;
}

.scene7 {
    /* margin-top: 25px; */
    /* margin-right: 10px; */
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 450px;
    height: 500px;
}

.scene8 {
    /* margin-top: 25px; */
    /* margin-right: 10px; */
    border-style: solid;
    border-width: 20px;
    border-color: black;
    width: 1200px;
    height: 600px;
}

h1 {
    border-style: solid;
    border-width: 20px;
    border-color: rgba(54, 36, 1, 0.517);
    margin: 70px;
    margin-bottom: 10%;
    background-color: palegoldenrod;
    font-family: 'Darumadrop One', cursive;
    letter-spacing: 10px;
    text-align: center;
    color: black;
    font-size: 150px;
}